#news
    md-content(layout="row")
      md-card#news-card(flex="grow", ng-show="!$state.includes('news.article')")
        md-toolbar
            .md-toolbar-tools
                //md-button.md-icon-button(aria-label="Back", ui-sref="main")
                //    md-icon(md-svg-icon="/media/images/icons/back.svg")
                span.md-headline {{ newsVm.title }}

        // warn the user if something went wrong
        md-toolbar.md-warn(ng-show="errorMessage", layout="row", layout-align="center center")
          p {{errorMessage}}


        md-card-content(layout="column", ng-show="$state.current.name == 'main.news.review' && !loggedIn")
          p This page is used to display the user review queue. You must be logged in to see your review queue.

        md-card-content(layout="column", ng-show="!($state.current.name == 'main.news.review' && !loggedIn)")


            section(flex, layout="row". layout-padding)
              Showing {{offset+1}} to {{maxOffset}} of {{newsVm.total_count}} articles.



            md-list#newsList
              md-subheader.md-no-sticky News Articles

                .md-input-container
                  label Filter
                  input(ng-model="newsFilter")
                  md-button.md-secondary.md-icon-button(ng-click="checkSpam()")
                    md-icon(md-svg-icon="/media/images/icons/spampreview.svg")
                  md-button.md-secondary.md-icon-button(ng-click="filterSpam()", ng-show="loggedIn")
                    md-icon(md-svg-icon="/media/images/icons/spamfilter.svg")
              md-progress-circular(md-mode="indeterminate" ng-show="isLoading")

              md-list-item.md-3-line(ng-repeat="result in newsArticles", ng-click="newsClick(result.id)", ng-mouseover="hovering=true", ng-mouseleave="hovering=false")
                  img(ng-src="/media/images/icons/spam.svg", ng-show="result.spamScore > 0.5")
                  .md-list-item-text
                      h3 {{ result.title }}
                      h4 {{result.hostname}}
                      p
                        p {{result.publish_date}}
                        p(ng-show="result.spamScore") Spam Score: {{result.spamScore}}
                  .md-secondary
                    md-button.md-secondary.md-icon-button(ng-show="hovering && !isHiding[result.id] && loggedIn" ng-click="hideArticle(result)")
                      md-icon(md-svg-icon="/media/images/icons/{{$state.current.name == 'main.news.hidden' ? 'visibility.svg' : 'visibility_off.svg' }}")
                    md-button.md-secondary.md-icon-button(ng-show="hovering && !isHiding[result.id] && loggedIn" ng-click="spamArticle(result)")
                      md-icon(md-svg-icon="/media/images/icons/{{$state.current.name == 'main.news.spam' ? 'unspam.svg' : 'spam.svg' }}")
                    md-progress-circular(ng-show="isHiding[result.id]")
            section(flex, layout="row" layout-padding, layout-align="center center")
                md-button.md-raised(ng-click="previousPage()" ng-disabled="$state.params.page<2") Previous Page

                md-button.md-raised(ng-click="nextPage()") Next Page

      ui-view(flex ng-show="$state.includes('news.article')")
