alembic==0.9.6
aniso8601==2.0.0
astroid==1.6.1
Babel==2.5.3
bcrypt==3.1.4
blinker==1.4
certifi==2017.11.5
cffi==1.11.5
chardet==3.0.4
click==6.7
cymem==1.31.2
cytoolz==0.8.2
dill==0.2.7.1
en-core-web-sm==2.0.0
facebook-sdk==3.0.0a0
Flask==0.12.2
Flask-BabelEx==0.9.3
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.1.1
Flask-OAuth==0.12
Flask-Principal==0.4.0
Flask-RESTful==0.3.6
Flask-Security==3.0.0
Flask-Social==1.6.2
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
ftfy==4.4.3
fuzzywuzzy==0.16.0
google-api-python-client==1.6.5
html5lib==1.0.1
httplib2==0.10.3
idna==2.6
isort==4.3.4
itsdangerous==0.24
Jinja2==2.10
lazy-object-proxy==1.3.1
lxml==4.1.1
Mako==1.0.7
MarkupSafe==1.0
mccabe==0.6.1
msgpack==0.5.0
msgpack-numpy==0.4.1
msgpack-python==0.4.8
murmurhash==0.28.0
neuralcoref==0.1
numpy==1.13.3
oauth2==1.9.0.post1
oauth2client==4.1.2
passlib==1.7.1
pathlib==1.0.1
pexpect==4.3.1
plac==0.9.6
preshed==1.0.0
ptyprocess==0.5.2
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycorenlp==0.3.0
pycparser==2.18
pylint==1.8.2
PyMySQL==0.8.0
python-dateutil==2.6.1
python-editor==1.0.3
python-Levenshtein==0.12.0
pytz==2017.3
regex==2017.4.5
requests==2.18.4
requests-file==1.4.3
rsa==3.4.2
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
spacy==2.0.5
speaklater==1.3
SQLAlchemy==1.2.0
termcolor==1.1.0
thinc==6.10.2
tldextract==2.2.0
toolz==0.9.0
tqdm==4.19.5
ujson==5.2.0
Unidecode==1.0.22
uritemplate==3.0.0
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
webstruct==0.6
Werkzeug==0.14.1
wrapt==1.10.11
WTForms==2.1
