#article-card
  margin-left auto
  margin-right auto

#information
  height 400px

.highlightedText
  background yellow

#articleContent md-content
  height 350px
  overflow auto

.entityTab
  height 300px
  overflow auto

#match-card md-list
  height 350px
  overflow auto
