#article(layout="row", layout-padding)
  
  
  #card-holder(layout="column", flex=70)
    md-card#article-card
        md-toolbar
            .md-toolbar-tools
                md-button.md-icon-button(aria-label="Back", ui-sref="news")
                    md-icon(md-svg-icon="/media/images/icons/back.svg")
                span.md-headline News Match
        md-card-content#articleContent
            h1 {{article.title}}
            md-content(flex, layout-padding, layout="columns")
              .content(ng-bind-html="article.content", flex=70)
                
    // candidate matcher panel - hidden when individual candidate is shown
    md-card#match-card(ng-show="showCandidatesView")
        md-toolbar
            .md-toolbar-tools
                span.md-headline Publication Candidates
        md-card-content
          section(layout-align="center center", flex, ng-show="loadingCandidates")
            md-progress-circular(md-mode="indeterminate")
            
          h3(ng-show="(candidateCount < 1) && !loadingCandidates") {{candidateSearchMessage}}
          
          md-list(flex layout="column" ng-show="(candidates.length > 0 && !loadingCandidates)")
            md-list-item.md-3-line.md-long-text(ng-click="viewCandidate(candidate)" ng-repeat="candidate in candidates | orderBy:'score':true")
              md-icon(md-svg-icon="/media/images/icons/link.svg" ng-show="candidate.linked")
              .md-list-item-text
                h3 {{candidate.Ti|uppercase}}
                h4 
                p Score {{candidate.score}}
                
    // single candidate view
    md-card#match-card(ng-show="showCandidateInfo", md-theme="{{candidate.linked ? 'successTheme' : 'default'}}")
        md-toolbar
            .md-toolbar-tools
              md-button.md-icon-button(aria-label="Back", ng-click="closeCandidateInspector()")
                  md-icon(md-svg-icon="/media/images/icons/back.svg")
                    
              span.md-headline Candidate Inspector
        md-card-content(layout="column")
          
          // show article title first
          h3 {{candidate.Ti|uppercase}}
          
          
          md-content(layout="row")
            // -- authors list ---//
            div(flex=50 layout="column")
              md-toolbar.md-hue-3(layout="row")
                div.md-toolbar-tools
                  span Authors
                  
              md-list(flex="50" layout="column")
                
                md-list-item.md-2-line(ng-repeat="author in candidate.AA")
                  .md-list-item-text
                    h4 {{author.AuN}}
                    p {{author.AfN}}
            
            // -- other properties of candidate --//
            div(flex=50 layout="column")
              md-toolbar.md-hue-3(layout="row")
                div.md-toolbar-tools
                  span Properties
              md-list(flex layout="column")
                    
                // -- score of candidate
                md-list-item.md-2-line
                  .md-list-item-text
                    h4 score
                    p {{candidate.score}}
                    
                // -- publication date
                md-list-item.md-2-line
                  .md-list-item-text
                    h4 Publication Date
                    p {{candidate.D}}
                    
                // -- journal name
                md-list-item.md-2-line
                  .md-list-item-text
                    h4 Journal
                    p {{candidate.J.JN}}
              
                // --doi
                md-list-item.md-2-line(ng-show="candidate.doi")
                  .md-list-item-text
                    h4 DOI
                    a(href="http://dx.doi.org/{{candidate.doi}}", target="_new") {{candidate.doi}}
                    
          // buttons for accepting or 
          section(layout="row", layout-wrap, layout-align="center center")
            md-button.md-raised(class="{{candidate.linked? 'md-warn' : 'md-primary'}}", 
                                ng-click="candidateLinkToggle(article, candidate)",
                                ng-disabled="linkingCandidate") {{candidate.linked ? "Unlink Candidate From Article" : "Link Candidate to Article"}}
            md-progress-circular(md-mode="indeterminate" ng-show="linkingCandidate")
          
            
  //side panel for article view
  md-content.md-padding(layout="column")  
  
    md-card#information(layout="column", flex="40", height="400px")
      md-card-title(flex="none")
        md-card-title-text
          span.md-headline Article Information
      md-card-content(layout="column")
        section(layout="row", layout-wrap, layout-align="center center")
          md-button.md-raised(ng-click="articleToggleHidden(article)", ng-disabled="hiding")  {{article.hidden ? "Unhide Article" : "Hide Article"}}
          md-progress-circular(md-mode="indeterminate" ng-show="hiding")
            
        div(layout="column", flex)
          md-list(flex)
            md-list-item.md-2-line
              .md-list-item-text
                h3 Publish Date
                md-datepicker(ng-model="article.publish_date", ng-change="changeArticleDate()")
                //p {{article.publish_date}}
            md-list-item.md-2-line
              .md-list-item-text
                h3 Host Name
                p {{article.hostname}}
            md-list-item.md-2-line
              .md-list-item-text
                h3 Link to Article
                a(href="{{article.url}}") Full Article

                
    md-card#entities
      md-card-title
        md-card-title-text
          span.md-headline Entities
      md-card-content
        md-tabs(md-dynamic-height md-border-bottom)
          md-tab(label="People", md-on-select="getPeople()")
            md-list.entityTab(flex)
              md-list-item.md-2-line(ng-repeat="person in people")
                .md-list-item-text
                  p {{person.text}}
                
          
          md-tab(label="Institutions", md-on-select="getInstitutions()")
            md-list.entityTab(flex)
              md-list-item.md-2-line(ng-repeat="inst in insts")
                .md-list-item-text
                  p {{inst.text}}
