#article(layout="columns", layout-padding)
  
  md-card#article-card(flex=70)
      md-toolbar
          .md-toolbar-tools
              md-button.md-icon-button(aria-label="Back", ui-sref="news")
                  md-icon(md-svg-icon="/media/images/icons/back.svg")
              span.md-headline News Match
      md-card-content
          h1 {{article.title}}
          md-content(flex, layout-padding, layout="columns")
            .content(ng-bind-html="article.content", flex=70)
              
            
  md-content.md-padding(layout="column", flex)  
  
    md-card#information
      md-card-title
        md-card-title-text
          span.md-headline Article Information
      md-card-content
        md-list(flex)
          md-list-item.md-2-line
            .md-list-item-text
              h3 Publication Date
              p {{article.publish_date}}
          md-list-item.md-2-line
            .md-list-item-text
              h3 Host Name
              p {{article.hostname}}
        
        
    md-card#entities
      md-card-title
        md-card-title-text
          span.md-headline Entities
      md-card-content
        md-tabs(md-dynamic-height md-border-bottom)
          md-tab(label="People", md-on-select="getPeople()")
            md-list(flex)
              md-list-item.md-2-line(ng-repeat="person in people")
                .md-list-item-text
                  p {{person.text}}
                
          
          md-tab(label="Institutions", md-on-select="getInstitutions()")
            md-list(flex)
              md-list-item.md-2-line(ng-repeat="inst in insts")
                .md-list-item-text
                  p {{inst.text}}
